    body {
        background-color: rgb(218, 152, 0);
        font-family: "Open Sans", Arial;
    }
    
    form {
        line-height: 27px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    input[type="text"],
    input[type="number"] {
        min-height: 15px;
        border-radius: 5px;
        border: 1px solid #cccccc;
    }
    
    input[type="radio"] {
        margin-left: 12px;
    }
    
    #main {
        align-items: center;
        text-align: center;
        margin: 2% 10%;
        border-bottom: #dadada solid 3px;
        height: 60vh;
        overflow: hidden;
        background: #f5f5f5;
        -webkit-box-shadow: 5px 5px 15px rgba(20, 20, 20, 0.5);
        box-shadow: 5px 5px 15px rgba(20, 20, 20, 0.5);
        border-radius: 35px;
    }
    
    #story {
        padding: 0 3%;
    }
    
    #top {
        background-color: rgb(255, 255, 255);
        margin: 2% 10%;
        border-radius: 35px;
    }
    
    #top img {
        display: block;
        width: 45%;
        margin: 0 auto;
    }
    
    .italics {
        font-style: italic;
    }
    
    .word {
        font-weight: bold;
        text-decoration: underline;
    }
    
    .input {
        margin: auto;
    }
    
    #input-field {
        margin: 1vh auto;
        width: 30%;
        border-radius: 25px;
        border: none;
        box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(34, 34, 34);
        padding: 10px;
        text-align: center;
    }
    
    .container {
        margin: 10% auto;
    }
    
    .heading {
        color: #4D4D4D;
        margin: 5vh auto;
        font-size: 60px;
        font-family: open Sans;
    }
    
    .subheading {
        color: #302c2cd0;
        margin-top: 7vh;
        margin-bottom: 5px;
        font-size: 25px;
        font-family: open Sans;
    }
    
    .submit-btn {
        width: 15vh;
        height: 5vh;
        margin-top: 0.8vh;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 10px 25px;
        position: relative;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
        outline: none;
        background-color: #f16e02;
        padding: 0;
        border: none;
        font-size: 25px;
        font-family: 'Lato', sans-serif;
    }